<a href="https://colab.research.google.com/github/lotannamoldon/Portfolio-Projects/blob/main/Marketing_Campaign_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
import pandas as pd
import numpy as np

In [121]:
#load messy datA and turn to dataframe
df = pd.read_csv('marketing_campaign_data_messy.csv')

df.head()

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA

In [122]:
# cleaning the column spend and changing it from text to numeric

df['Spend']= df['Spend'].str.replace('$', ' ')
df['Spend'] = df['Spend'].astype(float)

df['Spend']

0        102.82
1         24.33
2       1323.39
3       2180.38
4        252.44
         ...
2015     503.95
2016    1641.00
2017     883.82
2018    4198.50
2019    1315.59
Name: Spend, Length: 2020, dtype: float64

In [123]:
# treating the column (active), we start by grouping the values into truth and false
df['Active']
(df['Active']).unique()

array(['Y', '0', 'No', 'True', 'Yes', '1', 'False'], dtype=object)

In [124]:
mapping_dict = {'Y': True, 'Yes': True, '1': True, 'TRUE': True, 'FALSE': False, 'N': False, 'No': False, '0': False, 'True': True, 'False': False}

df['Active'] = df['Active'].map(mapping_dict)

df['Active']

0        True
1       False
2       False
3        True
4        True
        ...
2015     True
2016    False
2017    False
2018     True
2019     True
Name: Active, Length: 2020, dtype: bool

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Campaign_ID   2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   float64
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   bool
 10  Clicks         40 non-null     float64
 11  Campaign_Tag   2020 non-null   object
dtypes: bool(1), float64(3), int64(2), object(6)
memory usage: 175.7+ KB

In [126]:
print(df.columns)

Index([' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel',
       'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks',
       'Campaign_Tag'],
      dtype='object')

In [127]:
# there are two columns named clicks, we have too drop one, i have chosen to drop the one with the list columns filled

# Drop the bad column (the one without the space)
df = df.drop(columns=['Clicks'])

# Rename the good column (remove the extra space)
df = df.rename(columns={'Clicks ': 'Clicks'})
df = df.rename(columns={' Campaign_ID ': 'Campaign_ID'})
print (df.columns)
df.info()

Index(['Campaign_ID', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel',
       'Impressions', 'Clicks', 'Spend', 'Conversions', 'Active',
       'Campaign_Tag'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign_ID    2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   float64
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   bool
 10  Campaign_Tag   2020 non-null   object
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 159.9+ KB

In [128]:
(df['Channel']).unique()

array(['TikTok', 'Facebook', 'Email', 'Instagram', 'Google Ads', 'E-mail',
       nan, 'Gogle', 'Tik_Tok', 'Facebok', 'Insta_gram'], dtype=object)

In [129]:
# next we have to clean the messy channel names
channel_fixes = {
    'Tik_Tok': 'TikTok',
    'Facebok': 'Facebook',
    'E-mail': 'Email',
    'Gogle': 'Google',
    'Insta_gram': 'Instagram',

}

df['Channel'] = df['Channel'].replace(channel_fixes)

# Check the result
print(df['Channel'].unique())

['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' nan 'Google']

In [130]:
#Formatting the date types to fit
df['Start_Date'] = pd.to_datetime(df['Start_Date'], format='mixed')
df['End_Date'] = pd.to_datetime(df['End_Date'], format='mixed')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign_ID    2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   datetime64[ns]
 3   End_Date       2020 non-null   datetime64[ns]
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   float64
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   bool
 10  Campaign_Tag   2020 non-null   object
dtypes: bool(1), datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 159.9+ KB

In [131]:
# from the info above we notice there are 2020 entries, so we need to fill missing data for columns with missing data

# for channel which is text data we fill with unknown
df['Channel'] = df['Channel'].fillna('Unknown')

# for conversion which is numericial data we use median, since we do not know what is there in other not to miskew our data the safest bet is Median
# 1. Calculate the median value (it was 142.0)
median_conversions = df['Conversions'].median()

# 2. Fill the missing cells (NaNs) with that median
df['Conversions'] = df['Conversions'].fillna(median_conversions)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign_ID    2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   datetime64[ns]
 3   End_Date       2020 non-null   datetime64[ns]
 4   Channel        2020 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   float64
 8   Conversions    2020 non-null   float64
 9   Active         2020 non-null   bool
 10  Campaign_Tag   2020 non-null   object
dtypes: bool(1), datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 159.9+ KB

In [132]:
# dropping data tha are imparse and duplicate
df = df.drop_duplicates()
df = df[df['Start_Date'] <= df['End_Date']]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1891 entries, 0 to 2008
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign_ID    1891 non-null   object
 1   Campaign_Name  1891 non-null   object
 2   Start_Date     1891 non-null   datetime64[ns]
 3   End_Date       1891 non-null   datetime64[ns]
 4   Channel        1891 non-null   object
 5   Impressions    1891 non-null   int64
 6   Clicks         1891 non-null   int64
 7   Spend          1891 non-null   float64
 8   Conversions    1891 non-null   float64
 9   Active         1891 non-null   bool
 10  Campaign_Tag   1891 non-null   object
dtypes: bool(1), datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 164.4+ KB